$main-bg: #ffffff;
$main-color: #444;
$accent-color: #63d1bb; //green
$header-color: #010000;
$title-color: #000;
$link-color:#000;
$big-link-color:#fff; //two green blocks on home page
$hover-color: rgba($link-color,0.6);
$down-color: rgba($link-color,0.3);
$border-color:#ececec;

/*сетка*/
$mob-pad-side: 30px;
$mob-width-only: "max-width: 767px";
$tablet-width: "min-width: 768px";
$tab-pad-side: 50px;

$desktop-width: "min-width: 1150px";
$desk-pad-side: 50px;

/*шрифты*/
$opensans: OpenSans, Arial, sans-serif;
$opensansbold: OpenSansBold, Arial, sans-serif;


$wavy:1px solid #f5f5f5;/*потом заменить на волнистую линию*/
