@font-face {
  font-family: OpenSans; /* Имя шрифта */
  src: url(/fonts/opensans.woff); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: OpenSansBold; /* Имя шрифта */
  src: url(/fonts/opensansbold.woff); /* Путь к файлу со шрифтом */
}

