.mishka-form {
  margin-bottom:55px;
  color:$main-color;
}

.mishka-form__fieldset {
  border:none;
  padding-left:0;
  margin-top:34px;
  margin-left:$mob-pad-side;


  &--color{
    @media (#{$tablet-width}){
      background-color:#f1f1f1;
    }
  }

  &--tel {
    margin-top:36px;
  }

  &--email,
  &--dop {
    margin-top:42px;
  }

  &--tel,
  &--email {
    @media (#{$tablet-width}){
      background-color:#f1f1f1;
    }
  }

  @media (#{$tablet-width}){
    display: flex;
    flex-wrap: wrap;
    border: none;
    margin-left:0;
  }
}

.mishka-form__legend {
  position:relative;
  display:block;
  margin-top:-9px;
  margin-bottom:25px;
  padding-right:25px;

  color:$accent-color;
  font-family: $opensansbold;
  font-size: 17px;
  font-weight: bold;
  line-height: 16px;
  text-transform: uppercase;

  &--tel,
  &--email {
    margin-bottom:1px;
  }

  &--dop {
    margin-bottom: 0px;
  }

  &::after{
    content: "";
    position: absolute;
    height: 1px;
    width: 68%;
    top: 50%;
    left: 62px;
    background-color: $accent-color;
  }

  @media (#{$tablet-width}){
    width: 167px;
    position:relative;
  }
}

.mishka-form__label-text {
  display:block;
  color: $title-color;
  font-family: $opensansbold;
  font-size: 17px;
  font-weight: bold;
  line-height: 17px;
  margin:20px 0;

    &--personal {
      margin:20px 0 0;
    }
  }

.mishka-form__radio,
.mishka-form__checkbox {
  display:none;
}

.mishka-form__label-radio,
.mishka-form__label-check {
  display:block;
  height:42px;

  margin:20px 0;
  padding-left: 60px;

  color: $title-color;
  font-family: $opensansbold;
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;

  &:before {
    content: "";
    display: inline-block;
    width: 36px;
    height: 35px;
    margin-right: 20px;
    margin-left: -58px;
    vertical-align: middle;
    border: 2px solid #4d4d4d;
  }
}

.mishka-form__radio + label:before {
  box-sizing:border-box;
  padding:3px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.mishka-form__radio:checked + label:before {
    background-color: $accent-color;
    box-shadow: inset 0 0px 0px 7px #fff;
    border-color: $accent-color;
}

.mishka-form__checkbox:checked + label:before {
    background: url(/img/icon-tick.svg) no-repeat 5px 9px;
    background-size:70%;
}

.mishka-form__input-wrapper{
  margin-left:-1px;
}

.mishka-form__input-text {
  border:none;
  border-bottom:1px solid #000;
  width:260px;
  font-size:17px;
  line-height:54px;

  &[type="email"]{
    background:url(/img/icon-mail.svg) no-repeat 225px 50%;
  }
  &[type="tel"]{
    border-bottom:2px solid #000;
    background:url(/img/icon-phone.svg) no-repeat 230px 50%;
  }
}

.mishka-form__textarea {
  width:260px;
  height: 142px;
  border: 2px solid $main-color;
  margin-top:25px;
  padding:17px;
  font-size: 17px;
  line-height: 18px;
  box-sizing:border-box;
}

.mishka-form__textarea[placeholder] {
  @include fademe($main-color, 0.3);
}

.mishka-form__btn{
  margin-left:$mob-pad-side;
  width:260px;
}
