.about-us {
  color: $main-color;
}

.about-us__wrapper {
  @include container;
  box-sizing:border-box;
  padding-left:$mob-pad-side;
  padding-right:$mob-pad-side;

  @media (#{$tablet-width}){
    padding-left:$tab-pad-side;
    padding-right:$tab-pad-side;
  }

  @media (#{$desktop-width}){
    padding-left:175px;
  }
}

.about-us__title{
  @include h2-title;
  margin-top:29px;

  @media (#{$tablet-width}){
    margin-top:64px;
    font-size:43px;
    line-height:43px;
  }

  @media (#{$desktop-width}){
    margin-top:60px;
    font-size:52px;
    line-height:52px;
  }
}

.about-us__list {
  color: $title-color;
  padding:0;
  margin-top:33px;

  font-family: $opensansbold;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;

  @media (#{$tablet-width}){
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    margin-top:52px;

    font-size: 19px;
    line-height: 24px;
  }

  @media (#{$desktop-width}){
    justify-content:flex-start;
  }
}

.about-us__item{
  list-style:none;
  padding-top: 52px;
  padding-bottom: 31px;
  background-position:0 0;
  background-repeat:no-repeat;

  &--eco{
    background-image:url(/img/icon-feature-1.svg);
    background-position: 8px 0;
  }
  &--scandinavian{
    background-image:url(/img/icon-feature-3.svg);
    order:2;
  }
  &--likes{
    background-image:url(/img/icon-feature-5.svg);
    background-position: 8px 2px;
    order:4;

    @media (#{$tablet-width}){
      background-position: 8px 4px;
    }
  }
  &--handmade{
    background-image:url(/img/icon-feature-2.svg);
    background-position: 4px 0;
    order:1;

    @media (#{$tablet-width}){
      background-position: 4px 2px;
    }
  }
  &--support{
    background-image:url(/img/icon-feature-4.svg);
    order:3;

    @media (#{$tablet-width}){
      background-position: 0 3px;
    }
  }
  &--present{
    background-image:url(/img/icon-feature-6.svg);
    background-position: 3px 0;
    order:5;

    @media (#{$tablet-width}){
      background-position: 3px 1px;
    }
  }

  @media (#{$tablet-width}){
    width:50%;
    padding-top: 53px;
    padding-bottom: 54px;
  }

  @media (#{$desktop-width}){
    width:290px;
    margin-right:60px;
  }
}
