.catalog-list {
  @include container;
  margin-bottom: 58px;
  padding:0 $mob-pad-side;
  box-sizing: border-box;

  @media (#{$tablet-width}){
    margin-top: 77px;
    margin-bottom: 60px;
    padding:0 $tab-pad-side;
  }

  @media (#{$desktop-width}){
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    padding:0;
  }
}

.catalog-list__item {
  list-style-type: none;
  margin-top:31px;
  border-bottom:1px solid $border-color;

  @media (#{$tablet-width}){
    display:flex;
    margin-top:54px;
    border-top:1px solid $border-color;
    border-right:1px solid $border-color;
  }
  @media (#{$desktop-width}){
    flex-direction:column;
    border:none;
  }
}

.catalog-list__pic-link {
  @media (#{$tablet-width}){
    font-size:0px;line-height:0px;
  }
}
.catalog-list__pic {
  background-color: #e8e8e8;

  @media (#{$tablet-width}){
    width:383px;
    height:332px;
  }

  @media (#{$desktop-width}){
    width:316px;
    height:463px;
  }
}

.catalog-list__desc {
  padding: 0 28px;

  @media (#{$tablet-width}){
    display:flex;
    flex-direction:column;
    padding: 0px 36px 0 29px;
  }
  @media (#{$desktop-width}){
    min-height: 197px;
    width: 249px;
    border: 1px solid $border-color;
    padding: 0px 37px 0 27px;

    &:hover {
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    }

    &:active{
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    }
  }
}

.catalog-list__title {
  margin-top:23px;
  margin-bottom:5px;
  font-family: $opensansbold;
  font-weight:bold;
  font-size:16px;
  line-height:24px;

  @media (#{$tablet-width}){
    font-size:20px;
    margin-top:25px;
    margin-bottom:0;
  }
  @media (#{$desktop-width}){
    margin-bottom:5px;
  }
}

.catalog-list__title a {
  text-decoration:none;
  color:$title-color;

  &:hover {
    @include fademe($title-color, 0.7);
  }
  &:active {
    @include fademe($title-color, 0.3);
  }
}

.catalog-list__desc p {
  font-size:13px;
  line-height:30px;
  margin:5px 0 18px;
  @media (#{$tablet-width}){
    font-size: 15px;
  }
  @media (#{$desktop-width}){
    margin:0 0 14px;
  }
}

.catalog-list__price-block{
  border-top:1px solid #ececec;
  padding-top:21px;
  padding-bottom:27px;
  @media (#{$tablet-width}){
    width:270px;
    padding-bottom: 26px;
    margin-top:auto;
  }
  @media (#{$desktop-width}){
    width:auto;
    padding-top:24px;
  }
}

.catalog-list__price{
  font-size:15px;
  line-height: 24px;
  font-family: $opensansbold;
  font-weight: bold;
  @media (#{$tablet-width}){
    font-size:17px;
  }
}

.catalog-list__cart{
  float:right;
}
