
.catalog-list {
  margin:0 0 58px;
  padding: 0 $mob-pad-side;
}

.catalog-list__item {
  list-style-type: none;
  margin-top:30px;
  border-bottom:1px solid #ececec;
}

.catalog-list__pic {
  background-color: #e8e8e8;
}

.catalog-list__desc {
  padding-left:30px;
  padding-right:30px;
}
.catalog-list__title {
  font-family: $opensansbold;
  font-weight:bold;
  font-size:17px;
  line-height:24px;
}

.catalog-list__title a {
  text-decoration:none;
  color:$title-color;

  &:hover {
    @include fademe($title-color, 0.7);
  }
  &:active {
    @include fademe($title-color, 0.3);
  }
}

.catalog-list__desc p {
  font-size:13px;
  line-height:30px;
  margin:15px 0 25px;
}

.catalog-list__price-block{
  border-top:1px solid #ececec;
  padding-top:22px;
  padding-bottom:30px;
}

.catalog-list__price{
  font-size:15px;
  line-height: 24px;
  font-family: $opensansbold;
  font-weight: bold;
}

.catalog-list__cart{
   float:right;
}

.catalog-list__process{
  list-style-type: none;
  margin-top:30px;
  border-top:1px solid #ececec;
  border-bottom:1px solid #ececec;
}

.catalog-list__video-title{
  font-size: 17px;
  line-height: 24px;
  color:$title-color;
  margin-top:30px;
  margin-bottom:30px;
  padding-left:91px;
  background:url(/img/icon-video.svg) no-repeat 34px 50%;
}

.catalog-list__order{
  list-style-type: none;
}

.catalog-list__video-desc{
  font-size: 13px;
  line-height: 24px;
  font-family: $opensans;
  margin-left:34px;
  margin-right:34px;
  width:192px;
}

.catalog-list__order-btn{
  width:192px;
  margin-left:34px;
  margin-bottom:33px;
}
