.contacts {
  border-top: $wavy;
  padding-bottom:10px;

  @media (#{$tablet-width}){
    padding-top:29px;
    padding-bottom:26px;
  }
  @media (#{$desktop-width}){
    padding-top:94px;
    padding-bottom:105px;
  }
}
.contacts__wrapper{
  @media (#{$desktop-width}){
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: space-between;
    align-content: center;
    height:458px;
    width: 1150px;
    margin:0 auto;
  }
}

.contacts__inner {
  @include container;
  box-sizing:border-box;
  padding-left:$mob-pad-side;
  padding-right:$mob-pad-side;
  @media (#{$tablet-width}){
    padding-left:$tab-pad-side;
    padding-right:$tab-pad-side;
  }
  @media (#{$desktop-width}){
    width:530px;
    margin:0;
    padding-left:67px;
    padding-right:10px;
  }
}

.contacts__inner:last-child {
  @media (#{$desktop-width}){
    order:1;
  }
}

.contacts__title{
  @include h2-title;
  margin-top: 39px;
  font-size:18px;

  @media (#{$tablet-width}){
    height:81px;
    margin-top:10px;

    font-size:43px;
    line-height:81px;

    background:url(/img/icon-flag.svg) no-repeat right 0;
    background-size:47px 81px;
  }
  @media (#{$desktop-width}){
    margin-top:59px;
    padding-left:108px;
    background-position:left top;
    font-size:54px;
  }
}

.contacts__info{
  margin-top:27px;

  font-size:15px;
  line-height:30px;
  color:$main-color;

  @media (#{$tablet-width}){
    display:flex;
    margin-top: 33px;
  }
  @media (#{$desktop-width}){
    flex-direction:column;

    margin-top: 36px;
    padding-left:113px;
  }
}

.contacts__str {
  display:flex;
  margin-bottom:30px;
  @media (#{$tablet-width}){
    width:48%;
    padding-right:2%;
  }
  @media (#{$desktop-width}){
    width:auto;
  }
}

.contacts__str dt {
  display:inline-block;
  vertical-align:top;
  min-width:67px;
}
.contacts__str dd {
  display:inline-block;
  vertical-align:top;
  margin-left:10px;
}


.contacts__link--email {
  color:$link-color;
  text-decoration:none;
  border-bottom:1px solid $accent-color;
  &:hover {
    color:$accent-color;
  }
  &:active {
    @include fademe($accent-color, 0.3);
    border-bottom:1px solid rgba($accent-color,0.3);
  }
}

.contacts__map {
  margin:37px 0;
  height:455px;
  background-color: #f3f1ea;
  background:url(/img/map-mobile@1x.jpg) no-repeat 0 0;
  background-size:cover;
  border:1px solid $border-color; /*временно, для сетки*/

  @media (#{$tablet-width}){
    margin-top:27px;
    margin-bottom:42px;
    height:468px;
  }
  @media (#{$desktop-width}){
    align-self: stretch;
    width:525px;
    margin:0;
    order:2;
  }
}

.contacts__write-us{
  @media (#{$tablet-width}){
    width:230px;
    margin-left:auto;
    margin-right:auto;
  }
  @media (#{$desktop-width}){
    margin-top:0;
    margin-bottom:0;
    line-height:49px;
  }
}
