.contacts {
  border-top: $wavy;
  padding-bottom:10px;
}

.contacts__wrapper {
  @include container;
  box-sizing:border-box;
  padding-left:$mob-pad-side;
  padding-right:$mob-pad-side;
}

.contacts__title{
  @include h2-title;
  margin-top: 35px;
  font-size:18px;
}

.contacts__info{
  margin-top:30px;

  font-size:15px;
  line-height:30px;
  color:$main-color;
}

.contacts__str {
  display:flex;
  margin-bottom:30px;
}

.contacts__str dt {
  display:inline-block;
  vertical-align:top;
}
.contacts__str dd {
  display:inline-block;
  vertical-align:top;
}


.contacts__link--email {
  color:$link-color;
  text-decoration:none;
  border-bottom:1px solid $accent-color;
  &:hover {
    color:$accent-color;
  }
  &:active {
    @include fademe($accent-color, 0.3);
    border-bottom:1px solid rgba($accent-color,0.3);
  }
}

.contacts__map {
  margin:40px 0;
  height:450px;
  background-color: #f3f1ea;
  background:url(/img/map-mobile@1x.jpg) no-repeat 0 0;
}
