.home-main {
  background-color: #fbfbfb;
}
.home-main__wrapper {
  @include container;
  position:relative;

  @media (#{$tablet-width}){
    height:745px;
  }
}
.home-main h1 {
  font-family:$opensansbold;
  margin:0;
  padding:74px 30px 0;
  height:283px;
  background-color: #fbfbfb;
  box-sizing:border-box;
  font-size:27px;
  line-height:30px;
  text-align:center;
  background:url(../img/hero-mobile@1x.jpg)
    no-repeat 50% 0;
  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx){
    background:url(../img/hero-mobile@2x.jpg)
    no-repeat 50% 0;
  }

  @media (#{$tablet-width}){
    height:626px;
    padding-top:162px;

    background:url(../img/hero-desktop@1x.jpg)
    no-repeat 50% 80px;
    background-size:cover;

    font-size:43px;
    line-height:50px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx){
      background:url(../img/hero-desktop@2x.jpg)
      no-repeat 50% 0;
    }
  }

  @media (#{$desktop-width}){
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx){
      background:url(../img/hero-desktop@2x.jpg)
      no-repeat 50% 0;
    }
  }
}

.home-main__menu-list {
  margin:0;
  padding:0;
  position:relative;

  @media (#{$tablet-width}){
    height:119px;
    display:flex;
    align-content:stretch;
  }
}

.home-main__menu-list a {
  @include link;
  color:$big-link-color;

  &:hover {
    @include fademe($big-link-color, 1);
  }
  &:active {
    @include fademe($big-link-color, 0.3);
  }

  @media (#{$tablet-width}){
    height:119px;
    display:block;
    flex-grow:1;
    align-items:stretch;
  }
}

.home-main__menu-item {
  list-style-type: none;
  height:57px;
  padding:23px 160px 23px;
  padding-left:$mob-pad-side;
  font-family:$opensansbold;
  font-size:19px;
  line-height:24px;

  &--int {
    background:#63d1bb url(../img/icon-interior.svg)
    no-repeat 90% 50%;
  }

  &--toys {
    background:#56c3b2 url(../img/icon-toy.svg)
    no-repeat 90% 50%;
  }
  &:hover {
    height:67px;
  }

  @media (#{$tablet-width}){
    height:73px;
    &:hover {
      margin-top:-10px;
      height:83px;
    }
  }
}
