.main-nav {

  @media (#{$tablet-width}){
    height:40px; /*временно для сетки*/
    flex-basis:334px;
    order:2;
    z-index:1;
  }

  @media (#{$desktop-width}){
    height:88px;
    flex-basis:377px;
    order:0;
  }
}
.main-nav__toggle {
  background:#fff url(../img/icon-menu-close.svg) no-repeat 50%;
  border:none;
  width: 20px;
  height:14px;
  position:absolute;
  top:32px;
  right:27px;
  overflow:none;
  text-indent:-5000px;

  @media (#{$tablet-width}){
    display:none;
  }
}

.main-nav__items {
  margin:0;
  padding:0;
  font-family: $opensansbold;

  @media (#{$tablet-width}){
    height:40px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:flex-end;
  }

  @media (#{$desktop-width}){
    height:89px;
    flex-wrap:wrap;
    justify-content: flex-start;
    align-items:stretch;
  }
}

.main-nav__item {
  margin:0;
  padding-left:76px;
  height:79px;

  line-height:79px;
  list-style:none;
  font-size:17px;
  font-weight:bold;
  display:block;
  border-top:1px solid #ececec;

  @media (#{$tablet-width}){
    border:none;
    padding-left:0;
    height:24px;

    line-height:24px;
    font-size:15px;
    align-self:flex-end;
  }

  @media (#{$desktop-width}){
    border:none;
    padding-left:0;
    height:89px;
    width:175px;

    line-height:79px;
    font-size:16px;
    align-self:stretch;

    &:first-child {
      border-right:1px solid $border-color;
    }
    &:nth-child(odd) {
      padding-right:9px;
    }
    &:nth-child(even) {
      padding-left: 15px;
    }
  }
}

.main-nav__items a {@include link;}

.main-nav__item--desktop-only{
  display:none;

  @media (#{$desktop-width}){
    display:block;
    line-height:56px;
    height:24px;
    font-size:15px;
    font-family:$opensans;
    text-align:left;
  }
}
