body {
  min-width:320px;
  font-family: $opensans;
  font-size: 15px;
}

img {
  max-width:100%;
  height:auto;
}

.mishka-body__svg {
  display:none;
}
.visually-hidden{
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}
