body {
  min-width:320px;
  font-family: $opensans;
  font-size: 15px;
  /*background:
    url(/preview/mishka-form-mobile-opacity.png)
    no-repeat
    50% 320px;
  @media (#{$tablet-width}){
   background:
    url(/preview/mishka-form-tablet-opacity.png)
    no-repeat
    50% 0;
  }
  @media (#{$desktop-width}){
    background:
    url(/preview/mishka-form-desktop-opacity.png)
    no-repeat
    50% 0;
  }*/
}

img {
  max-width:100%;
  height:auto;
}

.visually-hidden{
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}
