.order-knit__wrapper{
  @include container;
}

.order-knit__simple-text {
  margin:22px 0 32px $mob-pad-side;
  font-family: $opensans;
  font-size: 13px;
  line-height: 24px;
}


.order-knit__prim{
  width:260px;
  margin-left:$mob-pad-side;
  margin-top:10px;
  font-size: 14px;
  line-height: 16px;
}

