.page-footer {
  background-color: #f1f1f1;
  padding: 30px 0;
  @media (#{$tablet-width}){
    height:84px;
  }
}

.page-footer__wrapper{
  @include container;

  @media (#{$tablet-width}){
    box-sizing:border-box;
    padding-left:$tab-pad-side;
    padding-right:$tab-pad-side;
    height: 84px;
    display:flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (#{$desktop-width}){
    padding-left:0;
    padding-right:0;
  }
}

.page-footer__logo{
  display:none;
  @media (#{$tablet-width}){
    display:block;
  }
}

.page-footer__social {
  width: 170px;
  margin:0 auto 30px;
  padding:0;

  text-align:center;
  @media (#{$tablet-width}){
    margin:0;
  }
  @media (#{$desktop-width}){
  width: 180px;
    margin-left: 85px;
  }
}

.page-footer__social li {
  list-style-type: none;
  display:inline-block;
  vertical-align:middle;
  margin:0;
  padding:0;

  @media (#{$desktop-width}){
    padding: 0 0 0 5px;
  }
}

.social__link {
  display:inline-block;
  vertical-align:middle;
  width:50px;
  height:30px;
  &--inst{
    background:url(/img/icon-insta.svg) no-repeat 50% 50%;
  }

  &--fb{
    background:url(/img/icon-fb.svg) no-repeat 50% 50%;
  }

  &--tw{
    background:url(/img/icon-twitter.svg) no-repeat 50% 50%;
  }
}

.page-footer__copyright {
  text-align:center;
  border-top:1px solid #e5e5e5;
  font-family:$opensansbold;
  font-size:19px;
  font-weight:bold;
  line-height:18px;
  padding-top:20px;

  @media (#{$tablet-width}){
    border:none;
    padding:0;
  }
}

.page-footer__academy-logo {
  vertical-align:middle;
  @media (#{$desktop-width}){
    padding-left:25px;
  }
}
