.page-header {
  border-bottom:1px solid #ececec;
  @media (#{$tablet-width}) {
    height:89px;
  }
}

.page-header__wrapper{
  @include container;

  @media (#{$tablet-width}){
    box-sizing:border-box;
    padding-left:$tab-pad-side;
    padding-right:$tab-pad-side;

    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    align-items:flex-end;
  }
  @media (#{$desktop-width}){
    padding-left:0;
    padding-right:0;
    justify-content:space-between;
  }
}

.page-header__logo {
  text-align: center;
  height:79px; /*временно для сетки*/
  @media (#{$tablet-width}){
    flex-basis: 111px;
  }

  @media (#{$desktop-width}){
    flex-basis:320px;
    order:1;
  }

  &:hover {
    opacity:0.6;
  }
  &:active {
    opacity:0.3;
  }
}

.page-header__logo img {
  height:35px;
  width: 86px;
  margin:22px auto;
}
.page-header__logo-svg-mobile {
  display:block;
  @media (#{$tablet-width}){
    display:none;
  }
}
.page-header__logo-svg-tab-text {
  display:none;
  @media (#{$tablet-width}){
    display:block;
    fill:#fff;
  }
  @media (#{$desktop-width}){
    display:none;
  }
}
.page-header__logo-svg-bg {
  display:none;
  @media (#{$tablet-width}){
    display:block;
  }
  @media (#{$desktop-width}){
    display:none;
  }
}
.page-header__logo-svg-bgsplash {
  display:none;
  @media (#{$desktop-width}){
    display:block;
  }
}
.page-header__logo-svg-text {
  display:none;
  @media (#{$desktop-width}){
    display:block;
    fill:white;
  }
}

.page-header__shipping {
  display:none;

  @media (#{$tablet-width}){
    display:block;
    order:3;
    width:334px;

    line-height:24px;
    font-size:15px;
    font-family:$opensans;
    text-align:right;
  }

  @media (#{$desktop-width}){
    order:3;
    margin-left:auto;
    line-height:57px;
  }
}
