.page-content__title {
  background-color: #f1f1f1;
  font-size: 27px;
  line-height:170px;
  color: $title-color;
  text-align:center;
  margin:0;
  padding:0 0 5px;
  @media (#{$tablet-width}){
    line-height: 220px;
    font-size: 43px;
  }
}
